.status-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;

    box-sizing: border-box;
    margin-bottom: 20px;
}

.status-bar__left {
    display: flex;
    justify-content: center;
    margin-left: 245px;
    margin-top: 30px;
    margin-bottom: 36px;
}

.status-bar__right {
    display: flex;
    justify-content: center;
    margin-right: 245px;
    margin-top: 30px;
    margin-bottom: 36px;
}

.status-bar-left__column {
    margin-right: 38px;
    align-items: center;
    justify-items: center;
}
.status-bar-right__column {
    margin-right: 38px;
}

.status-bar-left__column:first-child {
    font-size: 32px;
    font-weight: bold;
    margin-top: -10px;
}
